<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="top-bar">
            <ul class="navigation">
                <li><button onclick="navCollapse()" class="fa fa-bars"></button></li>
                <li id="me"><a href="/index.html">Daniel Robertson</a></li>
            </ul>
        </div>
        <div id="angle0">
        </div>
        <div id="angle1">
        </div>
        <div id="nav">
            <div class="nav-list">
                <ul id="destinations" class="navigation">
                    <li><a href="/index.html">About Me</a></li>
                    <li><a href="/blog/index.html">Blog</a></li>
                    <li><a href="/slides/index.html">Slides</a></li>
                    <li><a href="/resume/drobertson.pdf">Resume</a></li>
                    <li><a href="#">Projects</a>
                        <ul class="navigation" style="padding: 10px;">
                            <li style="padding: 5px;"><a href="http://anidata.org/">Anidata</a></li>
                            <li style="padding: 5px;"><a href="http://ozarkoverlook.com/">Ozark Overlook</a></li>
                            <li style="padding: 5px;"><a href="http://redox-os.org/">Redox OS</a></li>
                            <li style="padding: 5px;"><a href="https://servo.org/">Servo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id = "main">
            <div id="article">
                {{content}}
            </div>
            <div id="contact">
                <div id="icons">
                    <a href="https://github.com/dlrobertson">
                        <img src="/images/GitHub-Mark-Light-64px.png" class="sosh-med" height="13px">
                    </a>
                    <a href="https://gitlab.com/drobertson">
                        <img src="/images/gitlab.png" height="13px" class="sosh-med">
                    </a>
                    <a href="http://stackoverflow.com/users/4450336/daniel-robertson">
                        <img src="/images/so-icon.png" class="sosh-med" height="13px">
                    </a>
                    <a href="mailto:dan@dlrobertson.com">
                        <img src="/images/email.png" class="sosh-med" height="13px">
                    </a>
                    <a href="http://www.linkedin.com/in/daniellutherrobertson">
                        <img src="/images/linkedin.png" class="sosh-med" height="13px">
                    </a>
                </div>
                <div id="dummy-dom">
                </div>
            </div>
        </div>
    </body>
</html>
