---
layout: default
---

{% assign wordcount = content | number_of_words %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "keywords": "{{ page.keywords }}",
  "about": "{{ page.summary }}",
  "wordCount": "{{ wordcount }}",
  "url": "http://dlrobertson.com{{ page.url }}",
  "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
  "isAccessibleForFree": "True",
  "author": {
    "@type": "Person",
    "name": "Dan Robertson",
    "description": "Dan Robertson is a software engineer and Open Source software fanatic",
    "sameAs": "https://github.com/dlrobertson",
    "image": {
      "@type": "ImageObject",
      "url": "http://dlrobertson.com/images/fly-fishing.jpg",
    },
    "givenName": "Daniel",
    "familyName": "Robertson",
    "alternateName": "dlrobertson"
  },
  "inLanguage": "en-US",
  "publisher": {
    "@type": "Person",
    "name": "Daniel L. Robertson",
    "sameAs": "https://github.com/dlrobertson",
    "logo": {
      "@type": "ImageObject",
      "url": "http://dlrobertson.com/images/fly-fishing.jpg",
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "http://dlrobertson.com{{ page.url }}"
  },
  "articleBody": "{{ page.content | strip_html | xml_escape | normalize_whitespace | strip_newlines | strip }}"
}
</script>

<div class="container">
    <div class="row">
        <h1>{{ page.title }}</h1>
    </div>
    <p>{{ page.date | date: "%b %-d, %Y" }}</p>
    {{ content }}
  </div>
</div>
